.header {
    background-color: gray;
    height: 10vh;
    width: 100%;
    position: fixed;
    top: 0;
}

.cclemon-logo {
    width: auto;
    height: 10vh;
}

body {
    font-family: 'Klee One', cursive;
}

main {
    margin-top: 70px;
}

.divdiv-my-profile {
    padding-bottom: 50px;
}

.my-profile {
    padding-top: 50px;
    background-color: rgba(141, 194, 144, 0.819);
    padding-bottom: 100px;
}

.my-profile-block {
    display: flex;
    margin-left: 50px;
    gap: 30px;
}

.profile-content {
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.div-my-profile {
    text-align: center;
    font-size: 80px;
    font-weight: bold;
}

.profile-content {
    border: solid 3px;
}

.name-block {

}

.name {
    font-size: 40px;
}

.myname {
    margin-left: 10px;
    font-size: 30px;
}

.university {

}

.daigaku {
    font-size: 40px;
}

.aoyama {
    margin-left: 10px;
    font-size: 20px;
}

.hobby-bock {

}

.hobby {
    font-size: 40px;
}

.hobby-content {
   gap: 10px;
}

.music {
    font-size: 30px;
}


.speak {
    font-size: 30px;
}

.suimin {
    font-size: 30px;
}

.img-block-10 {
    display: flex;
    gap:30px ;
}

.img-01 {
    position: absolute;
    top: 0;
    left: 0;
}

.img-01-img {
    width: auto;
    height: 250px;
    border-radius: 30px;

    
}

.img-02 {
    
}

.img-02-img {
    
    height: auto;
    width: 250px;
    border-radius: 30px;

}

.click_here:hover {
    color: brown;
    font-size: 30px;
    font-weight: bold;
}

.click_here {
    text-align: right;
    margin-right: 200px;
}

.click_here-block {
    
}








.yokumoku-profile {

    
}

.yokomoku-cotent {
    border: solid 3px;
    background-color: gray;
    text-align: center;
    font-size: 50px;
}

.a {
    opacity: 0.4;

}

.ryuuki-block {

}

.figure-ryuuki {
    position: relative;
    z-index: -10000;
}

.ryuuki-content-block {

}

.ryuuki {
    font-weight: bold;
    font-size: 100px;
    position: absolute;
    top: 5%;
    left: 5%;

}

.ryuuki-content {
    font-size: 40px;
    width: 300px;
    position: absolute;
    bottom: 10%;
    left: 5%;
    font-weight: bold;
}

.maho-block {
    
}

.figure-maho {
    position: relative;
    z-index: -10000;
}

.maho-content-block {
   
}

.maho {
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 100px;
    font-weight: bold;
}

.maho-content {
    position: absolute;
    bottom: 10%;
    left: 5%;
    font-size: 40px;
    width: 300px;
    font-weight: bold;
}


.kae-block {

}


.figure-kae {
    position: relative;
    z-index: -10000;
}

.kae-content-block {

}

.kae {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 100px;
    font-weight: bold;
}

.kae-content {
    position: absolute;
    bottom: 10%;
    right: 5%;
    font-size: 40px;
    width: 300px;
    font-weight: bold;
}


.yui-block {

}

.figure-yui {
    position: relative;
    z-index: -10000;
}

.yui-content-block {
  
}

.yui {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 100px;
}

.yui-content {
    position: absolute;
    bottom: 10%;
    right: 5%;
    font-size: 40px;
    width: 300px;
    font-weight: bold;
}




.footer-yokomoku {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 30px;
    background-color: gray;
    border: solid 3px;
}


















