.mainvisual {
    background: url(./IMG_6060.JPG) center center / cover no-repeat;
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 40px 24px;
    display: flex;
    align-items: flex-end;
}


.mainvisual-title {
    position: absolute;
    bottom: 30px;
    right: 50px;
    font-size: 25px;
    font-weight: 500;
    color: #FFFFFF;
    letter-spacing: 2px;
}
.staff{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.staff-box{
  gap: 12px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gray;
  /* border: solid;
  border-radius: 10%; */
  margin:20px;
  padding: 20px;
  width: 200px;
  height:300px;
}
.staff-picture-top{}
.staff-picture{
    border-radius: 50%;
    width: 180px;
    height: 180px;
    margin:15px 0px;
}
.staff-name{
    display: flex;
    align-items: center;
    font-size: 24px;
    letter-spacing: 1px;
}