.main{
    font-family: 'Noto Serif JP', serif;
    background-color: antiquewhite;

}

.title{
    padding-top:100px ;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 46, 46);
    line-height: 3.0;
}

.letter{
    font-size: 20px;
}

.mainvisual {
    background: url(../img/white.jpg) center center / cover no-repeat;
    /* position: relative; */
    width: 100%;
    height: 100vh;
    /* padding: 40px 24px; */
    display: flex;
    align-items: flex-end;
    
}
.osusume{
    font-size: 30px;
    line-height: 5.0;
    font-weight: bold !important;
}
.menu{
    margin: 100px 0;
}
.image{
    margin-left: 50px;
}
.image img{
    border-radius: 30px;
}
.osusume{
    text-align: center;
    padding: 40px;
}
.img_text{
    display: flex;
}
.mainvisual-title {
    position: absolute;
    bottom: 30%;
    right: 10%;
    /* transform: translate(10%,80%); */
    text-align: center;
    font-size: 180px;
    font-weight: 500;
    color: #e42525;
    letter-spacing: 2px;
    width: 800px;
    padding-left: 50px;
}

/* staff */
.staff {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.staff-box {
    gap: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.509);
    border-radius: 30px;
    margin: 20px;
    padding: 20px;
    width: 200px;
    height: 300px;
}

.staff-picture {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    margin: 15px 0px;
}

.staff-name {
    display: flex;
    align-items: center;
    font-size: 24px;
    letter-spacing: 1px;
}



/* open day */
.open_day{
    width: 100%;
    text-align: center;

}
.day_list{
    text-align: center;
    border-top: 2px dotted #000;
    border-bottom: 2px dotted #000;
    width: 50%;
    margin-left: 50%;
    transform: translate(-50%, 0%);
}
.day{
    display: flex;
    line-height: 1.5;
}
.week{
    width: 40%;
}
.week_detail{
    width: 60%;
    text-align: center;
    align-items: center;
}
/* question form */
.contact_section{
    margin-left: 50%;
    transform: translate(-50%, 0%);
    /* align-items: center; */
    /* text-align: center; */
}
.form_description{
    padding: 10px;
    font-size: 18px;
    margin-bottom: 30px;
}

.question_form_block{
    display: flex;
}
.item{
    padding: 10px 20px;
    /* width: 10%; */
    margin-left: 20px;
}
.item_large{
    padding: 10px 20px;
    margin-left: 20px;
}
.input_box{
    width: 200px;
    border: solid 1px #000;
}
.form_box{
    margin-left: 70px;
}
.form_box_large{
    width: 200px;
    margin-left: 120px;
    border: solid 1px #000;
}

.colum{
    display: flex;
    flex-direction: column;
}
.form_post{
    padding: 20px;
    margin-left: 200px;
}
.form_post_button{
    padding: 5px;
    background-color: rgb(223, 56, 56);
    color: rgb(237, 152, 100);
    font-weight: bold;
}


.footer{
    background-color: rgb(237, 152, 100);
    text-align: center;
    font-size: 15px;
    color: aliceblue;
    padding: 20px;
}

